@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100;
  }
}

.nav {
  @apply bg-gray-500
}

.nav h1 {
  @apply text-pink-500 text-7xl
}

.nav a {
  @apply p-3 text-center
}

.table-custom-spacing {
  padding: 20px;
  border-collapse: collapse;
}

.table-custom-spacing th,
.table-custom-spacing td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table-custom-spacing th {
  background-color: #f4f4f4;
  text-align: left;
}

.grid {
  grid-template-columns: repeat(3, minmax(250px, 1fr));
}

.card {
  @apply bg-white p-4 shadow-lg rounded-lg; 
  z-index: 20; 
  position: relative; 
  margin: 1rem 0; 
  width: 100%;
  height: 100%;
  
}



